<html>
<head>
  <script src="../bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../bower_components/angular-material/angular-material.js"></script>
  <script src="../dist/md-range-slider.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" type="text/css" href="../dist/style.css">
</head>
<body>
  <div layout="column">
    <div style="width:300px;margin:auto;" ng-controller="AppController">
      <h3>Filter by price</h3>
      <p>Selected range: {{lower|currency}}-{{upper|currency}}</p>
      <range-slider md-discrete lower-value="lower" upper-value="upper" min-gap="2000" step="100" min="min" max="max" ></range-slider>
    </div>
	<div style="width:300px;margin:auto;" ng-controller="App2Controller">
      <h3>Filter by age</h3>
      <p>Selected range: {{lower}}-{{upper}}</p>
      <range-slider lower-value="lower" upper-value="upper" min-gap="2" step="2" min="min" max="max" ></range-slider>
      <input type="number" placeholder="Min" ng-model="min"/>
      <input type="number" placeholder="Max" ng-model="max"/>
    </div>
  </div>
  <script>
    var app = angular.module('example', ['mdRangeSlider'])
    app.controller('AppController', ['$scope', function($scope){
      $scope.min = 0;
      $scope.max = 200000;
      $scope.lower = 0;
      $scope.upper = 50000;
    }]);
	  app.controller('App2Controller', ['$scope', function($scope){
      $scope.min = 18;
      $scope.max = 99;
      $scope.lower = $scope.min;
      $scope.upper = $scope.max;
    }]);

    angular.bootstrap(document, ['example']);
  </script>
</body>
</html>
